.main {
    padding-bottom: 140px;
}

.radio {
    width: 500px;
    min-height: 55px;
    margin-bottom: 10px;
    padding: 15px;

    border-style: solid;
    border-radius: 2px;
    border-color: #D6D6D6;
    border-width: 2px;
}

.button {
  margin: 5px;
}

.bigImage {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: #D6D6D6;
  width: 75%;
  height: 75%;
}

.gallery {
    text-align: center;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    bottom: 0;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 20px;
}

.bigImage {
  height: 25%;
}

.bottomText {
  border-style: solid;
  border-radius: 5px;
  border-color: #D6D6D6;
  border-width: 2px;

  margin: 40px;
  padding: 20px;
}

.inputGroup {
  border-style: solid;
  border-radius: 5px;
  border-color: #D6D6D6;
  border-width: 2px;

}

@media (max-width:629px) {
  .radio {
    width: 350px;
  }

  .bigImage {
    width: 100%;
    height: 100%;
  }
}
