.footer {
    position: sticky;
    height: 100px;
    width: 100%;
    background-color: #F8F8F8;
    color: white;
    text-align: center;

    border-top-style: solid;
    border-width: 2px;
    border-color: #D6D6D6;
}